body {
    font-family: system-ui, sans-serif;
    /* color: var(--color-fg);
    background-color: var(--color-bg); */
}

.light {
    color-scheme: light;
    color: var(--violet-jtc);
    background-color: var(--snow);
}

.dark {
    color-scheme: dark;
    color: var(--snow);
    background-color: var(--violet-jtc);
}

a {
    color: currentColor;
}
