body {
    font-family: system-ui, sans-serif;
    /* color: var(--color-fg);
    background-color: var(--color-bg); */
}

.light {
    color-scheme: light;
    color: var(--purple);
    background-color: var(--yellow);
}

.dark {
    color-scheme: dark;
    color: var(--white);
    background-color: var(--purple);
}

a {
    color: currentColor;
}
