<link rel="dns-prefetch" href="https://www.googletagmanager.com/">
<link href="https://www.googletagmanager.com/gtag/js?id={{ meta.gtag }}" rel="preload" as="script">
<script async src="https://www.googletagmanager.com/gtag/js?id={{ meta.gtag }}"></script>
<script defer src="/assets/js/analytics.js"></script>