{% if category or tags %}
<div class="post-date">
  <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  {% if update %}
  <p>Uppdaterat: <time datetime="{{ update | htmlDateString }}">{{ update | readableDate }}</time></p>
  {% endif %}
</div>
<h1 class="post-title {{ class }}" title="{{ title }}">
  {% for word in splitTitle %}
    <span {% if emphasis == loop.index %}class="word"{% endif %}>{{ word }}</span>
  {% endfor %}
</h1>
<div class="breadcrumbs flow">
  {% if category %}
  <p class="lead">från 
    {% if category == "resurser" %}
      <a href="/{{ category | locale_links }}">{{ category }}</a>
    {% else %}
      {{ category }}
    {% endif %}
  , {{ content | emojiReadTime }}.</p>
  {% endif %}
  <div>
    {% if tags %}
    <ul role="list" class="tags">
      {% for tag in tags | sort %}
      <li>
        <a href="/{{ page.lang }}/tagg/{{ tag | slugify }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endif %}