<div class="search-modal" id="search-modal">
  <form class="search">
    <label class="sr-only" for="search-input">Sök</label>
    <input class="search-control" autocomplete="off" type="search" placeholder="Sök..." id="search-input"
      aria-label="Sök" />
  </form>
  <ol id="search-results" class="dropdown__menu flow d-none" aria-labelledby="search-input">
    <li>Skriv för att söka på sidan...</li>
  </ol>
</div>