<div class="search-modal hidden content" id="search-modal">
  <form class="search popout">
    <label class="sr-only" for="search-input">Sök</label>
    <input class="search-control" autocomplete="off" type="search" placeholder="Sök..." id="search-input"
      aria-label="Sök" />
  </form>
  <ol id="search-results" class="search-modal-results flow hidden popout" aria-labelledby="search-input">
  </ol>
</div>