{% if tagPosts.length > 1 %}
<div>
    <h3>Läs mer taggat med <a href="/tagg/{{ tag }}">{{ tag }}</a></h3>
    <ul>
        {% for post in tagPosts %}
          {% if post.url != page.url %}
            <li>
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}