{% block content %}
<ul role="list" class="tags-list">
    {% for tag in collections.tagList %}
    {% set tagUrl %}/tagg/{{ tag | slug }}/{% endset %}
    <li>
        <a href="{{ tagUrl | url }}">{{ tag | capitalize }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}