@mixin border {
    &:hover[class*=orange] {
        border-bottom: 2px solid var(--color-orange);
    }
    &:hover[class*=red] {
        border-bottom: 2px solid var(--color-red);
    }
    &:hover[class*=yellow] {
        border-bottom: 2px solid var(--color-yellow);
    }
    &:hover[class*=magenta] {
        border-bottom: 2px solid var(--color-magenta);
    }
    &:hover[class*=blue] {
        border-bottom: 2px solid var(--color-blue);
    }
    &:hover[class*=green] {
        border-bottom: 2px solid var(--color-green);
    }
    &:hover[class*=cyan] {
        border-bottom: 2px solid var(--color-cyan);
    }
}

@mixin border-active {
    &[class*=orange] {
        border-bottom: 2px solid var(--color-orange);
    }
    &[class*=red] {
        border-bottom: 2px solid var(--color-red);
    }
    &[class*=yellow] {
        border-bottom: 2px solid var(--color-yellow);
    }
    &[class*=magenta] {
        border-bottom: 2px solid var(--color-magenta);
    }
    &[class*=blue] {
        border-bottom: 2px solid var(--color-blue);
    }
    &[class*=green] {
        border-bottom: 2px solid var(--color-green);
    }
    &[class*=cyan] {
        border-bottom: 2px solid var(--color-cyan);
    }
}

@mixin text {
    &:hover[class*=orange] {
       color: var(--color-orange);
    }
    &:hover[class*=red] {
       color: var(--color-red);
    }
    &:hover[class*=yellow] {
       color: var(--color-yellow);
    }
    &:hover[class*=magenta] {
       color: var(--color-magenta);
    }
    &:hover[class*=blue] {
       color: var(--color-blue);
    }
    &:hover[class*=green] {
       color: var(--color-green);
    }
    &:hover[class*=cyan] {
        color: var(--color-cyan);
     }
}