@mixin border {
    &:hover[class*=orange] {
        border-bottom: 2px solid var(--color-orange);
    }
    &:hover[class*=red] {
        border-bottom: 2px solid var(--color-red);
    }
    &:hover[class*=yellow] {
        border-bottom: 2px solid var(--color-yellow);
    }
    &:hover[class*=purple] {
        border-bottom: 2px solid var(--color-purple);
    }
    &:hover[class*=blue] {
        border-bottom: 2px solid var(--color-blue);
    }
    &:hover[class*=green] {
        border-bottom: 2px solid var(--color-green);
    }
}

@mixin text {
    &:hover[class*=orange] {
       color: var(--color-orange);
    }
    &:hover[class*=red] {
       color: var(--color-red);
    }
    &:hover[class*=yellow] {
       color: var(--color-yellow);
    }
    &:hover[class*=purple] {
       color: var(--color-purple);
    }
    &:hover[class*=blue] {
       color: var(--color-blue);
    }
    &:hover[class*=green] {
       color: var(--color-green);
    }
}