@use 'theme';
@use 'utils';
@use 'global';
@use 'components';

body {
    background-color: var(--color-light);
    color: var(--color-dark);
}

[id] {
    scroll-margin-top: var(--step-5); // 1
}

.full-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.orange {
    color: var(--color-orange);
}
.red {
    color: var(--color-red);
}
.yellow {
    color: var(--color-yellow);
}
.magenta {
    color: var(--color-magenta);
}
.blue {
    color: var(--color-blue);
}
.green {
    color: var(--color-green);
}
.cyan {
    color: var(--color-cyan);
}

* {
    box-sizing: border-box;
}
