.post-list {
  a {
    text-decoration-color: var(--color-primary);
  }
  time {
    opacity: 0.8;
  
  }
  p {
    --flow-space: .5em;
  }
  footer {
    --flow-space: .3em;
  }
}

.tags {

  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: var(--gutter);

  font-size: var(--step-0);
}