/* .button {
    display: grid;
    place-items: center;
} */

.button {
  width: 100%;
  padding: var(--space-2xs);
  margin-top: var(--space-3xs-2xs);
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: var(--color-bg);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--font-heading);
  letter-spacing: 0.1rem;
}

.button:hover {
  color: var(--color-fg);
}

.button-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 0;

    svg {
        fill: var(--color-bg);
    }
}
