.navbar {
  position: relative;
  background-color: var(--color-primary-transparent);
  z-index: 100;
  opacity: 0.9;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 2px;
  background: var(--color-bg);
  animation: loading 0.5s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media (prefers-reduced-motion: reduce) {
  .navbar::after {
    animation: none;
  }
}

@keyframes loading {
  0% {
    width: 0;
  }
  99% {
    width: 100%;
  }
  100% {
    opacity: 0;
  }
}

.navbar-inner {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: var(--gutter);

  ul {
    display: flex;
    align-items: center;
    gap: var(--gutter);
    justify-content: space-between;
    padding: 0;
  }

  a {
    text-decoration: none;
    font-weight: 600;
  }
  a:hover {
    text-decoration: underline;
  }
}

.active {
  opacity: 0.9;
}

.search-modal {
  position: relative;
  width: 100%;
  flex-grow: 1;
  z-index: 1000;
  margin-bottom: 1em;
}
.search-modal--open {
  height: 100%;
}

.search-modal-results {
  position: absolute;
  color: fieldtext;
  background-color: field;
  width: 100%;
  border: 1px solid var(--color-fg);
  padding: var(--space-xs);
  border-radius: var(--border-radius);

  li {
    display: block;
    width: 100%;
    :hover:not(p) {
      text-decoration: underline;
    }
  }
}
