.navbar {
  background-color: var(--color-primary-transparent);
  z-index: 100;
  opacity: 0.9;
}

.navbar-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: var(--gutter);

  ul {
    display: flex;
    align-items: center;
    gap: var(--gutter);
    justify-content: space-between;
    padding: 0;
  }

  a {
    text-decoration: none;
    font-weight: 600;
  }
  a:hover {
    text-decoration: underline;
  }
}

.active {
  opacity: 0.9;
}

.language-switcher {
  .active {
    text-decoration: underline;
  }
}

/* css for the theme switcher */
.darkIcon {
  display: none;
}
.lightIcon {
  display: block;
}
html[data-theme="dark"] .darkIcon {
  display: block;
}
html[data-theme="dark"] .lightIcon {
  display: none;
}
html[data-theme="light"] .darkIcon {
  display: none;
}
html[data-theme="light"] .lightIcon {
  display: block;
}