.post-title {
  --flow-space: 0;
}

.post-date {
  opacity: 0.8;
  font-family: var(--font-heading);
}

article > footer > ul > li {
  text-transform: capitalize;
}

article > footer > .tags {
  flex-wrap: wrap;
}