.tags {
  flex-wrap: wrap;
  a {
    /* color: var(--color-fg); */
    text-decoration: none;
  }
}

.tags-list {
  --min: 16rem;
  display: grid;
  /* grid-gap: var(--gutter); */
  grid-gap-column: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}