<form class="flow" name="contact" action="/success" method="POST" netlify-honeypot="bot-field" data-netlify="true">
    <p class="hidden">
        <label>
            Om du är en människa så lämna detta fält tomt: <input name="bot-field" />
        </label>
    </p>
    <div>
        <label for="yourName">Namn</label>
        <input name="name" type="text" id="yourName" required="true">
    </div>
    <div>
        <label for="yourEmail">Email</label>
        <input name="email" type="email" id="yourEmail" required="true">
    </div>
    <div>
        <label for="message">Meddelande</label>
        <textarea name="message" id="message" rows="4" required="true"></textarea>
    </div>
    <button class="btn" type="submit">Skicka</button>
</form>