{% if postListItems.length > 0 %}
<div class="content post-list flow">
  {% if page.url == '/' %}
  <h2>Senaste</h2>
  {% endif %}
  {% for item in postListItems %}
  {% set year = item.date | yearString %}
  {% if year === years[0] %}
  <h2 class="post-list--year popout" id="year-{{ year }}">{{ years.shift() }}</h2>
  {% endif %}
  <article class="flow">
    <header>
      <time datetime="{{ item.date | htmlDateString }}">
        {{ item.date | frontDate }}
      </time>
      <h3>
        <a href="{{ item.url }}">{{ item.data.title }}</a>
      </h3>
    </header>
    <p>{{ item.data.summary | safe }}</p>
    <footer>
      {% if item.data.tags.length > 0 %}
      <ul class="tags">
        <li>{{ item.data.category | safe }}</li>
        {% for tag in item.data.tags | sort %}
        <li>{{ tag }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </footer>
  </article>
  {% endfor %}
  {% if page.url == '/' %}
  <div class="post-list--right">
    <a href="/arkiv">Läs mer</a>
  </div>
  {% endif %}
</div>
{% endif %}