<header role="banner" class="container flow">
    {% include "../components/nav.njk" %}
    <h1 title="{{ title }}">
        {{ title }}
    </h1>
    {% if page.url === "/" %}
    {% include "../components/lead.njk" %}
    {% else %}
    {% include "../components/breadcrumbs.njk" %}
    {% endif %}
    {{ content | safe }}
</header>