{% extends 'pages/base.njk' %}
{%- from 'layouts/post-list/macro.njk' import postList -%}
{% set postListItems = pagination.items %}

{% block header %}
{{ siteHead({
    title: title,
    siteName: meta.siteName,
    active: page.url,
    items: collections.pages,
    pagination: pagination
}) }}
{% endblock %}
{% block content %}
<main id="main-content" tabindex="-1">
    <section class="content container flow">
        {{ content | safe }}
        {% if postListItems.length %}
        {{
            postList({
                items: postListItems
            })
        }}
        {% endif %}
    </section>
</main>
{% endblock %}