---
postsHeading: 'Alla inlägg'
---

{% extends 'pages/base.njk' %}
{%- from 'layouts/post-list/macro.njk' import postList -%}
{% set postListItems = pagination.items %}

{% block content %}
<main id="main-content" tabindex="-1">
    <section class="content container flow">
        {% if not tag %}
        <header class="content__info">
                {% include "../layouts/pagination/template.njk" %}
        </header>
        {% endif %}
        {% if postListItems.length %}
        {{
            postList({
                items: postListItems
            })
        }}
        {% endif %}

        {% if not tag %}
        <footer class="content__footer">
                {% include "../layouts/pagination/template.njk" %}
        </footer>
        {% endif %}
    </section>
</main>
{% endblock %}