{% extends 'pages/base.njk' %}

{% block content %}
<main id="main-content" tabindex="-1" class="region">
    <article class="flow content">
        {{ content | safe }}
    </article>
</main>
{% endblock %}