{% extends 'pages/base.njk' %}

{% block content %}
<main id="main-content" tabindex="-1" class="container region">
    <article class="region flow">
        {{ content | safe }}
    </article>
</main>
{% endblock %}