{% extends 'pages/base.njk' %}

{% block head %}
<style>{% include 'assets/css/prism-theme.css' %}</style>
{% endblock %}

{% block content %}
<main id="main-content" tabindex="-1">
    <article class="flow">
        <header>
            {% if summary %}
            <p class="lead">{{ summary | safe }}</p>
            {% endif %}
        </header>
        {{ content | safe }}
        <footer>
            {% include "../components/link-list.njk" %}

            {% if tags %}
              {% set tag = tags | random %}
              {% set tagPosts = collections[tag] | limit(3) | shuffle %}
              {% include "../components/tag-related.njk" %}
            {% endif %}
        </footer>
    </article>
</main>
{% endblock %}