{% extends 'pages/base.njk' %}

{% set pagesCheck = page.filePathStem.includes('/pages/') %}

{% block head %}
<style>
    {% include 'assets/css/prism-theme-base.css' %}
    {% include 'assets/css/theme-vars.css' %}
</style>
{% endblock %}

{% block header %}
{{
    siteHead({
        title: title,
        siteName: meta.siteName,
        active: page.url,
        items: collections.pages,
        tags: tags,
        category: category
    })
}} 
{% endblock %}

{% block content %}
<main id="main-content" tabindex="-1">
    <article class="content container flow">
        {% if pagesCheck == false %}
        <header class="content__header flow">
            <h2 class="content__header-time">
                Postat: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
                {% if update %}
                <span class="content__header-time--updated">Uppdaterat: <time datetime="{{ update | htmlDateString }}">{{ update | readableDate }}</time></span>
                {% endif %}
            </h2>
            {% if lead %}
            <p class="content__lead">{{ lead | safe }}</p>
            {% endif %}
            {{ content | toc | safe }}
        </header>
        {% endif %}

        {{ content | safe }}

        {% if pagesCheck == false %}
        <footer class="content__footer">
            {% include "../components/link-list-footer.njk" %}

            {% if tags %}
                {% set tag = tags | randomItem %}
                {% set tagPosts = collections[tag] | limit(3) %}
                {% if tagPosts.length > 1 %}
                <section class="content__footer-related">
                    <h3 class="content__footer-related-title">Läs mer, inlägg taggade med {{ tag }}</h3>
                    <ul class="content__footer-related-list">
                        {% for post in tagPosts %}
                        <li class="content__footer-related-item">
                            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                {% endif %}
            {% endif %}
        </footer>
        {% endif %}
    </article>
</main>
{% endblock %}
