{% extends 'pages/base.njk' %}

{% set project = projectsData | getProject(title) %}

{% block content %}
<main id="main-content" tabindex="-1">
    <article class="flow content">
        <header class="card" data-infobox="true">
            <ul role="list" class="card-list">
                <li>
                    <strong>Titel:</strong> {{ project.title }}
                </li>
                <li>
                    <strong>Start:</strong> <time datetime="{{ project.start | htmlDateString }}">{{ project.start |
                        frontDate
                        }}</time>
                </li>
                <li>
                    <strong>Status:</strong> {{ project.status }}
                </li>
                <li>
                    <strong>URL:</strong> <a href="{{ project.url | url }}" target="_blank">{{ project.url }}</a>
                </li>
                <li>
                    <strong>Git:</strong> <a href="{{ project.git | url }}" target="_blank">{{ project.git }}</a>
                </li>
            </ul>
        </header>
        {{ content | safe }}
    </article>
</main>
{% endblock %}