@use '../../../sass/hover-colors';
.nav {
    padding-top: var(--step-0);
    margin-bottom: var(--step-0);

    line-height: var(--font-headline-height);

    &__item {
        display: block;

        border-bottom: 2px solid var(--color-light);
        width: 100%;
    
        transition: border-bottom 0.2s ease-in-out;
    
        text-decoration: none;

        @include hover-colors.border;

        &--active {
            @include hover-colors.border-active;
        }
    }
}
