{% set c = "" %}
<nav class="nav site-grid" aria-label="Main">
    <a
        href="/"
        class="nav__item nav__brand {{ c | randomColor }} {{ 'nav__item--active' if props.active == '/' }}"
        aria-label="{{ props.siteName }} - Hem"
        >{{ props.siteName }}
    </a>
    {% for item in props.items | reverse %}
    <a
        class="nav__item {{ c | randomColor }} {{ 'nav__item--active' if item.url == props.active }}"
        href="{{ item.url }}"
        >{{ item.data.title }}
    </a>
    {% endfor %}
</nav>