{%- from '../nav/macro.njk' import nav -%}
{% set colors = ["orange", "red", "blue", "yellow", "magenta", "green", "cyan"] %}
<header class="site-head">
    <div class="site-head__inner container">
        {{ nav({
            siteName: props.siteName,
            active: props.active,
            items: props.items
        }) }}
        <div class="site-grid">
            {% set header = props.title.split(' ') %}
            <h1 class="site-head__title {{ colors | random }}">
                {% for word in header %}
                    {% if loop.index == 1 %}
                        <span class="site-head__title--first">{{ word }}</span>
                    {% elif loop.index == header.length %}
                        <span class="site-head__title--last">{{ word }}</span>
                    {% else %}
                        {{ word }}
                    {% endif %}
                {% endfor %}
            </h1>
            <!-- <h1 class="site-grid__title {{ colors | random }}">{{ props.title | linebreak }}</h1> -->
            {% if props.category %}
                <h2 class="site-head__category">{{ props.category }}</h2>
            {% endif %}
            {% if props.tags %}
                <ul class="site-head__tags">
                    {% for tag in props.tags | sort %}
                        <li class="tag">
                            <a class="{{ colors | random }}" href="/tagg/{{ tag | slugify }}">
                                {{ tag }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if props.link %}
            <ul class="site-head__tags">
                <li class="tag">
                    <a href="{{ props.link[1] }}">
                        {{ props.link[0] }}
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</header>