---
title: Projekt
permalink: /sv/projekt/
order: 3
summary: Länkar och eventuell info om projekt och annat jag driver/är delaktig i/skapat.
category: ""
cover: "Firefly cover illustration a collection of projects, programs and designs created for a better world.jpg"
---

{% extends 'pages/page.njk' %}

{% block content %}
<main id="main-content" tabindex="-1" class="region">
    <article class="content">
        {% if projectsData %}
        <ul class="grid" data-layout="50-50" data-rows="masonry" role="list">
            {% for project in projectsData %}
            <li class="card" data-clickable="true">
                {% if project.thumb %}
                <img src="/assets/thumbs/{{ project.thumb }}" alt="Bild för projektet {{ project.title }}" />
                {% endif %}
                <div class="card-body flow">
                    <h3>
                        <a href="{{ project.title | slug }}">
                            {{ project.title }}
                        </a>
                    </h3>
                    <p>{{ project.description }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </article>
</main>
{% endblock %}