/* Make the '#' anchor visible on your site */
.anchor > span[hidden] {
    display: block;
}

// h2:has(a.anchor), h3:has(a.anchor) {
//     display: flex;
// }

.heading-wrapper > h2,
.heading-wrapper > h3,
#links {
    display: flex;
}

.anchor {
    text-decoration: none !important;
    padding-right: var(--space-3xs);
    color: var(--color-darker);
    &:hover {
        color: var(--color-fg-accent);
    }
}
