.btn {
    border: none;
    display: inline-block;
    padding: var(--space-xs);
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 600;
    text-transform: uppercase;
}