.card {
    position: relative;
    // border-radius: var(--border-radius);
    border: var(--border);
    max-width: unset;
    padding: var(--space-xs-s);

    background-color: var(--color-dark);
    color: var(--color-light);
    a {
        text-decoration: none;
    }
    a:after {
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    &:focus-within a:focus {
        outline: none;
    }
    &:hover {
        border-color: var(--color-selection);
    }
}
