.demo {
    &-sandbox {
        border-top: 2px solid var(--color-light);
        background-color: #f3f4f5;
        color: #5c6166;
        padding-bottom: var(--space-m-l);
    }
}
.tab {
    display: none;
    position: relative;
    .btn {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 1;
        color: var(--color-light);
    }
}

.tab:target {
    display: block;
}

.tab:not(:target) {
    display: none;
}

.tabs {
    display: flex;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    font-weight: 600;
    > li {
        background-color: var(--color-panel);
        > a {
            &:first-child {
                border-right-color: var(--color-dark);
            }
            border: 2px solid transparent;
            border-bottom: none;
            display: block;
            text-decoration: none;
            font-weight: 600;
            padding: var(--space-2xs);
            &:hover {
                background-color: var(--color-bg);
                border-color: var(--color-light);
            }
        }
    }
}
