@forward "site-foot";
@forward "navbar";
@forward "lead";
@forward "anchor";
@forward "tags";
@forward "breadcrumbs";
@forward "form";
@forward "btn";
@forward "card";

.post-list {
    article {
        margin-bottom: var(--space-m-l);
    }
    time {
        font-size: var(--step-0);
    }
}

.post-date {
    text-align: end;
    margin-bottom: 1em;
    font-size: var(--step-0);
}