@forward 'site-foot';
@forward 'navbar';
@forward 'lead';
@forward 'anchor';
@forward 'tags';
@forward 'breadcrumbs';
@forward 'form';
@forward 'btn';
@forward 'card';
@forward 'code-demo';
@forward 'flash';

.post-list {
    article {
        margin-bottom: var(--space-m-l);
    }
    time {
        font-size: var(--step-0);
    }
    h2 {
        text-transform: lowercase;
    }
}

.post-date {
    text-align: end;
    margin-bottom: 1em;
    font-size: var(--step-0);
    text-transform: uppercase;
    @media (max-width: 46rem) {
        text-align: start;
    }
}

.youtube-embed {
    aspect-ratio: 16 / 9;
    iframe {
        width: 100%;
        height: 100%;
    }
}
