.navbar,
.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0 var(--gutter);
    font-weight: 600;
    text-transform: uppercase;
    a {
        text-decoration: none;
        color: currentColor;
        &:hover {
            // color: var(--color-secondary-accent);
            text-decoration: underline dashed currentColor;
        }
    }
}

// .navbar > ul a {
// color: var(--color-primary);
// }

.brand {
    padding: var(--space-2xs) 0;
}
