.site-foot {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: var(--gutter);

    opacity: 0.6;
    ul {
        display: flex;
        gap: var(--gutter);
        color: var(--color-light);
    }

    svg {
        fill: currentcolor;
    }
}
