---
title: Resurser
permalink: /resurser/index.html | locale_url
cover: resurser.jpg
---

{% extends 'pages/page.njk' %}
{% set postListItems = collections.resources %}

{% block content %}
<main id="main-content" tabindex="-1" class="container region">
    {% include "layouts/post-list.njk" %}
</main>
{% endblock %}
