.dark {
    color: #ffcc66b3;
    color: #1f2430;
    color: #1f2430;
    color: #707a8ccc;
    color: #707a8c99;
    color: #ffcc66;
    color: #1f2430;
    color: #ffcc6633;
    color: #ffcc66;
    color: #ffcc66;
    color: #1f2430;
    color: #fac761;
    color: #707a8c33;
    color: #cccac2;
    color: #707a8c80;
    color: #ffcc66;
    color: #1c212b;
    color: #171b24;
    color: #f29e7480;
    color: #f29e74;
    color: #1c212b;
    color: #707a8c;
    color: #171b24;
    color: #87d96c1f;
    color: #f279831f;
    color: #242936;
    color: #707a8c45;
    color: #707a8c;
    color: #1f2430;
    color: #695380;
    color: #695380;
    color: #69538066;
    color: #5c467266;
    color: #69538040;
    color: #cccac2;
    color: #409fff21;
    color: #1a1f29;
    color: #69538033;
    color: #409fff40;
    color: #87d96c26;
    color: #87d96c00;
    color: #87d96c33;
    color: #80bfff14;
    color: #80bfff80;
    color: #87d96c14;
    color: #87d96c80;
    color: #8a91994d;
    color: #8a91994d;
    color: #b8cfe680;
    color: #ffcc66;
    color: #ff6666;
    color: #1c212b;
    color: #171b24;
    color: #1f2430;
    color: #1f2430;
    color: #1f2430;
    color: #87d96ccc;
    color: #f27983cc;
    color: #80bfffcc;
    color: #1c212b;
    color: #171b24;
    color: #8a919959;
    color: #8a91992e;
    color: #8a9199cc;
    color: #8a919966;
    color: #ffcc66;
    color: #1c212b;
    color: #87d96c;
    color: #171b24;
    color: #8a9199b3;
    color: #f27983;
    color: #ff6666;
    color: #695380;
    color: #80bfff;
    color: #ffcc66;
    color: #80bfff66;
    color: #87d96c66;
    color: #8a91992e;
    color: #1c212b;
    color: #171b24;
    color: #ffcc66;
    color: #63759926;
    color: #ffcc66;
    color: #8a919966;
    color: #1c212b;
    color: #171b24;
    color: #ff6666;
    color: #ffcc66;
    color: #242936;
    color: #fac761;
    color: #ffcc66b3;
    color: #707a8c;
    /* color: ; */
    color: #f27983b3;
    color: #707a8c80;
    color: #80bfffb3;
    color: #dfbfffb3;
    color: #87d96cb3;
    color: #707a8c;
    color: #242936;
    color: #707a8c45;
    color: #cccac2;
    color: #707a8c80;
    color: #ffcc6633;
    color: #ffcc664d;
    color: #ffcc66;
    color: #242936;
    color: #ff6666;
    color: #1f2430;
    color: #5ccfe6;
    color: #1f2430;
    color: #ffd173;
    color: #707a8c1a;
    color: #cccac21a;
    color: #cccac21a;
    color: #cccac2;
    color: #63759926;
    color: #cccac2;
    color: #ff6666;
    color: #ff6666;
    color: #5c467266;
    color: #69538066;
    color: #63759926;
    color: #cccac2;
    color: #63759926;
    color: #ffcc66;
    color: #63759926;
    color: #69758c1f;
    color: #707a8c;
    color: #707a8c4d;
    color: #1c212b;
    color: #ff6666;
    color: #ffcc66;
    color: #1f2430;
    color: #ff6666;
    color: #695380;
    color: #409fff40;
    color: #87d96c;
    color: #f27983;
    color: #80bfff;
    color: #1f2430;
    color: #171b24;
    color: #ffcc66;
    color: #cccac2;
    color: #707a8c;
    color: #63759926;
    color: #1c212b;
    color: #69538066;
    color: #5c467266;
    color: #1c212b;
    color: #cccac2;
    color: #707a8c;
    color: #69538066;
    color: #63759926;
    color: #63759926;
    color: #707a8c;
    color: #cccac2;
    color: #171b24;
    color: #707a8c80;
    color: #ffcc66;
    color: #171b2400;
    color: #707a8cb3;
    color: #707a8c66;
    color: #707a8c99;
    color: #409fff40;
    color: #cccac2;
    color: #80bfff;
    color: #1f2430;
    color: #1f2430;
    color: #1f2430;
    color: #1f2430;
    color: #707a8c;
    color: #707a8c;
    color: #1f2430;
    color: #1f2430;
    color: #f29e74;
    color: #242936;
    color: #707a8c;
    color: #1c212b;
    color: #707a8c33;
    color: #707a8c33;
    color: #171b24;
    color: #00000030;
    color: #ffcc66;
    color: #242936;
    color: #1f2430;
    color: #ffcc66;
    color: #cccac2;
    color: #1f2430;
    color: #1f2430;
    color: #707a8c;
    color: #707a8c;
    color: #707a8c;
    color: #707a8c;
    color: #171b24;
    color: #6dcbfa;
    color: #686868;
    color: #73d0ff;
    color: #95e6cb;
    color: #d5ff80;
    color: #dfbfff;
    color: #f28779;
    color: #ffffff;
    color: #ffd173;
    color: #90e1c6;
    color: #87d96c;
    color: #dabafa;
    color: #ed8274;
    color: #c7c7c7;
    color: #facc6e;
    color: #1f2430;
    color: #cccac2;
    color: #1c212b;
    color: #ffcc66;
    color: #ffcc66;
    color: #cccac2;
    color: #1f2430;
    color: #cccac2;
    color: #1f2430;
    color: #1f2430;
    color: #707a8c;
    color: #8a919959;
    color: #1c212b;
    color: #ffcc6666;
    color: #1a1f29;
    color: #1f2430;
    color: #12151cb3;
    color: #12151cb3
}

.light {
    color: #ffaa33b3;
    color: #8a9199;
    color: #00000026;
    color: #035bd626;
    color: #8a9199;
    color: #e65050;
    color: #8a9199;
    color: #f3f4f5;
    color: #ffaa33;
    color: #ffaa33;
    color: #5c6166;
    color: #ffaa33;
    color: #f8f9fa;
    color: #f9a52e;
    color: #8a919933;
    color: #5c6166;
    color: #8a919980;
    color: #fcfcfc;
    color: #8a9199;
    color: #8a919945;
    color: #fcfcfc;
    color: #8a919945;
    color: #5c6166;
    color: #8a919980;
    color: #f4a0284d;
    color: #ffaa3333;
    color: #f4a028;
    color: #fcfcfc;
    color: #e65050;
    color: #f8f9fa;
    color: #55b4d4;
    color: #f8f9fa;
    color: #f2ae49;
    color: #6b7d8f00;
    color: #8a919966;
    color: #8a919999;
    color: #8a9199b3;
    color: #ffaa3333;
    color: #f4a028;
    color: #ffaa33;
    color: #56728f1f;
    color: #5c6166;
    color: #56728f1f;
    color: #5c6166;
    color: #56728f1f;
    color: #ffaa33;
    color: #e65050;
    color: #56728f1f;
    color: #6b7d8f1f;
    color: #8a9199;
    color: #8a91994d;
    color: #e65050;
    color: #8a919959;
    color: #f3f4f5;
    color: #ffaa33;
    color: #e65050;
    color: #8f30efcc;
    color: #9f40ffcc;
    color: #f8f9fa;
    color: #8a9199cc;
    color: #8a919999;
    color: #f8f9fa;
    color: #ffaa33b3;
    color: #ffaa33;
    color: #f8f9fa;
    color: #f8f9fa;
    color: #f8f9fa;
    color: #8a9199;
    color: #f8f9fa;
    color: #8a9199;
    color: #f8f9fa;
    color: #f8f9fa;
    color: #035bd626;
    color: #e65050;
    color: #9f40ff2b;
    color: #6cbf43;
    color: #478acc;
    color: #ff7383;
    color: #6b7d8f1f;
    color: #f3f4f5;
    color: #f8f9fa;
    color: #f8f9fa;
    color: #f8f9fa;
    color: #f8f9fa;
    color: #5c6166;
    color: #f8f9fa;
    color: #ffaa33;
    color: #8a9199;
    color: #f8f9fa;
    color: #8a9199;
    color: #8a9199;
    color: #8a9199;
    color: #f8f9fa;
    color: #5c6166;
    color: #8a919966;
    color: #8a9199cc;
    color: #ffaa33;
    color: #035bd612;
    color: #035bd626;
    color: #6cbf4326;
    color: #6cbf4300;
    color: #478acc14;
    color: #6cbf4314;
    color: #478acc80;
    color: #6cbf4380;
    color: #9f40ff2b;
    color: #9f40ff2b;
    color: #9f40ffcc;
    color: #8f30efcc;
    color: #9f40ff40;
    color: #9f40ff33;
    color: #8a91991a;
    color: #ffaa33;
    color: #8a919966;
    color: #8a91992e;
    color: #8a919959;
    color: #8a91992e;
    color: #787b8099;
    color: #8a91994d;
    color: #8a91994d;
    color: #6cbf4333;
    color: #6b7d8f1f;
    color: #478acc;
    color: #6cbf43;
    color: #ff7383;
    color: #e65050;
    color: #ffaa33;
    color: #8a9199b3;
    color: #478acc66;
    color: #6cbf4366;
    color: #9f40ff2b;
    color: #e65050;
    color: #ffaa33;
    color: #478acccc;
    color: #6cbf43cc;
    color: #ff7383cc;
    color: #6cbf431f;
    color: #ff73831f;
    color: #6b7d8f1f;
    color: #f3f4f5;
    color: #6b7d8f1f;
    color: #f3f4f5;
    color: #6b7d8f1f;
    color: #f3f4f5;
    color: #6b7d8f1f;
    color: #ffaa33;
    color: #56728f1f;
    color: #6b7d8f1f;
    color: #f3f4f5;
    color: #f3f4f5;
    color: #56728f1f;
    color: #56728f1f;
    color: #8a9199;
    color: #5c6166;
    color: #f3f4f5;
    color: #9f40ffcc;
    color: #8f30efcc;
    color: #f3f4f5;
    color: #5c6166;
    color: #8a9199;
    color: #9f40ffcc;
    color: #56728f1f;
    color: #f8f9fa;
    color: #6b7d8f1f;
    color: #ffaa33;
    color: #5c6166;
    color: #8a9199;
    color: #f8f9fa;
    color: #8a9199;
    color: #f8f9fa;
    color: #ed9366;
    color: #fcfcfc;
    color: #f3f4f5;
    color: #8a919933;
    color: #8a919933;
    color: #6b7d8f1f;
    color: #00000030;
    color: #ffaa33;
    color: #fcfcfc;
    color: #f8f9fa;
    color: #5c6166;
    color: #f8f9fa;
    color: #8a9199;
    color: #f8f9fa;
    color: #fcfcfc;
    color: #ffaa33;
    color: #f9a52e;
    color: #6b7d8f1f;
    color: #8a919980;
    color: #f3f4f5;
    color: #ed9366;
    color: #ed936680;
    color: #ffaa33;
    color: #f8f9fa;
    color: #00000026;
    color: #8a91991a;
    color: #ffaa3366;
    color: #f3f4f5;
    color: #478accb3;
    color: #ff7383b3;
    color: #6cbf43b3;
    color: #8a919980;
    /* color: ; */
    color: #a37accb3;
    color: #5c6166;
    color: #478acc;
    color: #8a91991a;
    color: #5c6166;
    color: #5c61661a;
    color: #5c61661a;
    color: #f8f9fa;
    color: #5c6166;
    color: #000000;
    color: #ea6c6d;
    color: #6cbf43;
    color: #eca944;
    color: #3199e1;
    color: #9e75c7;
    color: #46ba94;
    color: #c7c7c7;
    color: #686868;
    color: #f07171;
    color: #86b300;
    color: #f2ae49;
    color: #399ee6;
    color: #a37acc;
    color: #4cbf99;
    color: #d1d1d1"
}

.background{
    color:#f8f9fa;
}
.foreground{
    color:#5c6166;
}
.ansiBlack{
    color:#000000;
}
.ansiRed{
    color:#ea6c6d;
}
.ansiGreen{
    color:#6cbf43;
}
.ansiYellow{
    color:#eca944;
}
.ansiBlue{
    color:#3199e1;
}
.ansiMagenta{
    color:#9e75c7;
}
.ansiCyan{
    color:#46ba94;
}
.ansiWhite{
    color:#c7c7c7;
}
