:root {
  --color-bg: var(--light);
  --color-fg: var(--dark);
  --color-primary: var(--color-primary-dark);
  --color-primary-transparent: var(--color-primary-dark-transparent);
  --cover-gradient: linear-gradient(
    to right,
    var(--color-fg),
    var(--color-primary)
  );
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--dark);
    --color-fg: var(--light);
    --color-primary: var(--color-primary-dark);
    --color-primary-transparent: var(--color-primary-dark-transparent);
    --cover-gradient: linear-gradient(
      to right,
      var(--color-primary),
      var(--color-bg)
    );
  }
}

html {
  color-scheme: dark light;
}
body {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

[data-theme="light"] {
  color-scheme: light;
  --color-bg: var(--light);
  --color-fg: var(--dark);
  --color-primary: var(--color-primary-dark);
  --color-primary-transparent: var(--color-primary-dark-transparent);
  --cover-gradient: linear-gradient(
    to right,
    var(--color-fg),
    var(--color-primary)
  );
}

[data-theme="dark"] {
  color-scheme: dark;
  --color-bg: var(--dark);
  --color-fg: var(--light);
  --color-primary: var(--color-primary-dark);
  --color-primary-transparent: var(--color-primary-dark-transparent);
  --cover-gradient: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-bg)
  );
}

a {
  color: currentColor;
  text-decoration-color: var(--color-secondary);
}

a:hover {
  opacity: 0.9;
}

.primary {
  color: var(--color-primary);
}

svg {
  height: 2ex;
  width: auto;
}

img,
picture {
  height: auto;
}

picture {
  display: grid;
  place-items: center;
}

.hidden {
  display: none !important;
}

.swatches {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: var(--gutter);
  list-style: none;
  padding: 0;
}

.swatches li {
  aspect-ratio: 1/1;
  overflow: hidden;
  border: 1px solid var(--color-fg);
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
}

.dark {
  background-color: var(--dark);
  color: var(--light);
}

.light {
  background-color: var(--light);
  color: var(--dark);
}

.primary {
  color: inherit;
  background-color: var(--color-primary);
}

.secondary {
  color: inherit;
  background-color: var(--color-secondary);
}

table {
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: var(--color-primary);
    color: var(--color-bg);
    text-align: left;
    th {
      padding-left: var(--gutter);
    }
  }

  td {
    border-top: 1px solid var(--color-fg);
  }
}

pre[class*="language-"] {
  margin-top: var(--space-m-l) !important;
  margin-bottom: var(--space-m-l) !important;
}

.feature.region {
  --region-space: var(--space-m-l);
}