body {
  font-family: var(--font-body);
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.1rem;
  hyphens: auto;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

p,
li,
blockquote:not([class]) {
  max-width: 65ch;
}

body {
  font-size: var(--step-1);
  line-height: 1.5;
  font-weight: 400;
}

blockquote {
  padding: var(--space-s-m);
  color: var(--color-primary);
  font-style: italic;
  border-left:8px solid var(--color-primary);
  font-size: var(--step-2);

  > p:first-of-type::before {
      content: '“';
  }
  > p:first-of-type::after {
      content: '”';
  }
}

blockquote:not([class]) p:last-of-type {
  font-style: normal;
  color: var(--color-fg);
}

abbr {
  background-color: var(--color-bg-accent);
  text-decoration: underline dashed currentColor;
}

.lead a {
  text-decoration: none;
}

.lead a:hover {
  text-decoration: underline;
}

.important {
  padding: var(--space-s-m);
  color: var(--color-primary);
  font-weight: 600;  
}

::selection {
  background: var(--color-dark);
  color: var(--color-light);
}
