/* @link https://utopia.fyi/space/calculator?c=320,18,1.25,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* @link https://utopia.fyi/type/calculator?c=320,18,1.25,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
  --space-l-2xl: clamp(2.25rem, 1.2935rem + 4.7826vi, 5rem);

  --step--2: clamp(0.7038rem, 0.7257rem + -0.0283vw, 0.72rem);
  --step--1: clamp(0.9rem, 0.887rem + 0.0652vw, 0.9375rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.4063rem, 1.3158rem + 0.4522vw, 1.6663rem);
  --step-2: clamp(1.7581rem, 1.597rem + 0.8054vw, 2.2213rem);
  --step-3: clamp(2.1975rem, 1.9321rem + 1.3272vw, 2.9606rem);
  --step-4: clamp(2.7469rem, 2.3295rem + 2.087vw, 3.9469rem);
  --step-5: clamp(3.4331rem, 2.7975rem + 3.1783vw, 5.2606rem);

  
  --dark: #1d1c1b;
  --light: #f2f0e4;
  --orange: #d96b52;
  --red: #d95e52;
  --gray: #404e64;

  --color-primary-light: #ff0f54;
  --color-primary-light-transparent: rgba(255, 15, 84, 0.8);
  --color-primary-dark: hsl(343, 80%, 53%);
  --color-primary-dark-transparent: hsla(343, 80%, 53%, 0.8);
  
  --color-secondary: #7678ED;

  --gutter: var(--space-s-m);

  --border-radius: 0.25rem;

  --font-body: 'Nunito', sans-serif;
  --font-heading: 'Bebas Neue', sans-serif;
}
