{% set title = 'Hej, jag heter Jens' %}
{% extends 'pages/base.njk' %}
{%- from 'layouts/post-list/macro.njk' import postList -%}
{% block content %}
<main id="main-content" tabindex="-1">
    <section class="content container site-grid">
        <aside class="content__info site-grid__full">
            <p class="lead">
                Jag är en lärare på
                <a href="https://www.ntigymnasiet.se/umea/">NTI Gymnasiet Umeå</a> 
                som gillar att koda och designa med fokus på webben. Att
                få kombinera dessa intressen i mitt arbete är ett
                privilegium.<br>
                På den här webbplatsen samlar jag mina 
                <a href="/arkiv">anteckningar</a> och
                <a href="/projekt">projekt</a>. Här finns även resurser för mina kurser (webb, html, css, javascript). På
                <a href="https://github.com/jensnti">GitHub</a> finns saker jag
                har kodat. <br>Önskar du veta mer kan du läsa <a href="/om">om</a> mig.
            </p>
        </aside>
        {% set postListItems = collections.feed %}
        {% if postListItems.length %}
        {{
            postList({
                items: postListItems
            })
        }}
        {% endif %}
    </section>
</main>
{% endblock %}