---
title: Resurser
permalink: /resurser/index.html
---

{% extends 'pages/page.njk' %}
{% set postListItems = collections.resources %}

{% block content %}
<main id="main-content" tabindex="-1" class="container">
    {% include "l/post-list.njk" %}
</main>
{% endblock %}
