---
title: Resurser
permalink: /resurser/index.html
---

{% extends 'pages/base.njk' %}

{% block content %}
<main id="main-content" tabindex="-1">
    <section class="content container flow">
        <ul>
            {% for resource in collections.resources %}
            <li>
                <a href="{{ resource.url | url }}">{{ resource.data.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}
