---
pagination:
    data: collections
    size: 1
    alias: tag
    filter: ['all', 'nav', 'pages', 'tagList']
permalink: /tagg/{{ tag | slugify }}/
postsHeading: 'Alla inlägg'
---

{% set title = 'Taggat med ' + tag %}
{% extends 'pages/page.njk' %}
{% set postListItems = collections[tag] | reverse %}

{% block content %}
<main id="main-content" tabindex="-1" class="container">
    {% include "l/post-list.njk" %}
</main>
{% endblock %}
