.pagination {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: var(--step-1);
    text-transform: uppercase;
    line-height: 1.4;

    &>[data-direction=forwards] {
        margin-inline-start: auto;
    }
    a {
        display: flex;
        gap: var(--step--1);
        align-items: center;
        color: var(--color-grey-300);
        min-height: var(--step-1);

        &:hover {
            text-decoration: none;
            color: var(--color-dark);
        }
        &:visted {
            color: var(--color-grey-300);
        }
        svg { transform: scale(2.2);}
    }
}